[submodule "modules/vim/spf13-vim"]
	path = modules/vim/spf13-vim
	url = https://github.com/spf13/spf13-vim.git
[submodule "modules/vim/vundle"]
	path = modules/vim/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "modules/zsh/zim"]
	path = modules/zsh/zim
	url = https://github.com/zimfw/zimfw.git
